{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/christmaslist"
    },
    "cloudant": {
      "db": "https://gandeclainewderstradarid:ToGFsHW3nvgFkx10aQECKss2@o61839.cloudant.com/christmaslist"
    }
  }
}

